:root {
  --font: 'Spartan', sans-serif;
  --very-dark-magenta: #502050;
  --soft-pink: #ee68a4;
  --dark-magenta: #937b92;
  --light--magenta: #f7f2f7;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font);
}

.wrapper {
  padding: 0 24px;
}

.title {
  text-align: center;
  color: var(--very-dark-magenta);
  font-size: 3rem;
  letter-spacing: -0.5px;
}

.subtitle {
  text-align: center;
  color: var(--soft-pink);
  font-weight: 500;
  font-size: 1.33rem;
  margin-top: 30px;
  line-height: 22px;
}

.review {
  margin: 48px 0;
  &-card {
    background-color: var(--light--magenta);
    border-radius: 8px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-stars {
      margin: 16px 0;
    }

    &-text {
      margin-bottom: 16px;
      color: var(--very-dark-magenta);
      font-weight: 700;
      font-size: 1.1rem;
    }
  }
}

.testimonial {
  color: var(--white);

  &-card {
    border-radius: 8px;
    background-color: var(--very-dark-magenta);
    padding: 35px 30px;
    margin-bottom: 16px;

    &-header {
      display: flex;
      margin-bottom: 30px;
    }

    &-img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 16px;

      & img {
        width: 100%;
      }
    }
  }
}
