:root {
  --font: 'Spartan', sans-serif;
  --very-dark-magenta: #502050;
  --soft-pink: #ee68a4;
  --dark-magenta: #937b92;
  --light--magenta: #f7f2f7;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font);
}

body {
  background-color: var(--dark-cyan);
  background-image: url(../images/bg-pattern-top-mobile.svg),
    url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: left 0 top 0, right 0 botto 0;
}

.wrapper {
  padding: 0 24px;
}

.title {
  text-align: center;
  color: var(--very-dark-magenta);
  font-size: 3rem;
  letter-spacing: -0.5px;
}

.subtitle {
  text-align: center;
  color: var(--soft-pink);
  font-weight: 500;
  font-size: 1.33rem;
  margin-top: 30px;
  line-height: 22px;
}

.review {
  margin: 48px 0;
  &-card {
    background-color: var(--light--magenta);
    border-radius: 8px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-stars {
      margin: 16px 0;
    }

    &-text {
      margin-bottom: 16px;
      color: var(--very-dark-magenta);
      font-weight: 700;
      font-size: 1.1rem;
    }
  }
}

.testimonial {
  color: var(--white);

  &-card {
    border-radius: 8px;
    background-color: var(--very-dark-magenta);
    padding: 40px 32px 34px 32px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 246px;

    &-header {
      display: flex;
      margin-bottom: 16px;
      // border: 1px solid white;
      align-items: center;
      height: 42px;
    }

    &-img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 16px;
      // border: 1px solid yellow;

      & img {
        width: 100%;
      }
    }

    &-data {
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 42px;
      font-size: 1.2rem;
      & p {
        font-weight: 600;
        margin: 0;
      }

      & span {
        color: var(--dark-magenta);
        margin: 0;
      }
    }

    &-desc {
      font-size: 1.22rem;
      line-height: 2rem;
      margin: 0;
    }
  }
}

@media only screen and (min-width: 1440px) {
  body {
    background-color: var(--dark-cyan);
    background-image: url(../images/bg-pattern-top-desktop.svg),
      url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: left 0 top 0, right 0 botto 0;
  }

  .wrapper {
    padding: 0 89px;
    margin: auto 0;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'intro reviews'
      'testimonials testimonials';
  }

  .intro {
    grid-area: intro;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 175px;

    & h1 {
      text-align: left;
      font-size: 5rem;
      line-height: 48px;
      margin-bottom: -16px;
    }

    & h2 {
      text-align: left;
      font-size: 1.5rem;
    }
  }

  .review {
    grid-area: reviews;
    margin: 0;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    &-card {
      width: 445px;
      height: 56px;
    }
  }

  .review1 {
    margin-right: 96px;
  }

  .review2 {
    margin-right: 48px;
  }

  .testimonial {
    grid-area: testimonials;
    display: flex;
    justify-content: space-between;

    &-card {
      width: 348px;
      height: 233px;
    }
  }

  .margin1 {
    margin-top: 16px;
  }

  .margin2 {
    margin-top: 32px;
  }
}
